.dark {
  --tw-prose-body: #ffffff;
  --tw-prose-headings: #ffffff;
  --tw-prose-bold: #ffffff;
  --tw-prose-links: #ffffff;
  --tw-prose-counters: #ffffff;
  --tw-prose-bullets: #ffffff;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark p,
.dark li,
.dark span,
.dark td,
.dark th {
  color: #ffffff !important;
}
